<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>student - list</title>
    <link rel="stylesheet" href="/resources/style.css" />
</head>

<body>
    <th:block th:insert="~{login/loginInfo :: userinfo}" ></th:block>
    <h1>학생 리스트</h1>
    <p><a href="/student/register.do" >학생(등록)</a></p>
    <table>
        <caption></caption>
        <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>성별</th>
                <th>나이</th>
                <th>cmd</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${studentList}" >
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.gender.name()}"></td>
                <td th:text="${item.age}"></td>
                <td>
                    <a th:href="@{/student/view.do(id=${item.id})}">조회</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
