<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>학생-등록</title>
        <link rel="stylesheet" href="/resources/style.css" />
        <meta charset="UTF-8" />
    </head>

    <body>
    <th:block th:insert="~{login/loginInfo :: userinfo}" ></th:block>

        <form method="post" th:action="@{ ${ student.id == null ? '/student/register.do' : '/student/update.do' } }" th:object="${student}" >
            <table>
                <caption></caption>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td><input type="text" th:field="*{id}"  required /></td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td><input type="text" th:field="*{name}" required /></td>
                    </tr>
                    <tr>
                        <th>성별</th>
                        <td>
                            <input type="radio" th:field="*{gender}" value="M"   />남
                            <input type="radio" th:field="*{gender}" value="F"   />여
                            <input type="radio" th:field="*{gender}" value="C"   />??
                        </td>
                    </tr>
                    <tr>
                        <th>나이</th>
                        <td><input type="number" th:field="*{age}" required /></td>
                    </tr>
                </tbody>
            </table>
            <p>
                <button type="submit" th:text="${student.id == null ? '등록' : '수정'}" ></button>
            </p>
        </form>
    </body>
</html>
