<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Document List</title>
    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <th>이름</th>
                    <th>주민등록본</th>
                    <th>가족관계증명서</th>
                    <th>출생신고서</th>
                    <th>사망신고서</th>
                    <th>발급결과</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="document : ${documents}">
                    <td th:text="${document.name}">Name</td>
                    <td th:text="${document.registrationNumber}">Registration Number</td>
                    <td th:text="${document.familyCertificate}">Family Certificate</td>
                    <td th:text="${document.birthReport}">Birth Report</td>
                    <td th:text="${document.deathReport}">Death Report</td>
                    <td>
                        <span th:if="${document.issueResult}" th:text="'발급완료'">Issue Result</span>
                        <span th:unless="${document.issueResult}" th:text="'-'">-</span>
                    </td>
                    <td>
                        <img th:if="${document.hasPhoto}" th:src="@{/images/${document.photoFileName}}" alt="Photo" />
                        <span th:unless="${document.hasPhoto}" th:text="'-'">No Photo</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>