<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- annotation설정을 위해 추가-->
    <context:annotation-config/>
    <context:property-placeholder location="classpath:name.properties"/>
    <bean class="org.springframework.beans.factory.annotation.CustomAutowireConfigurer">
        <property name="customQualifierTypes">
            <set>
                <value>com.nhnacademy.edu.springframework.SMS</value>
            </set>
        </property>
    </bean>

    <bean id="user" class="com.nhnacademy.edu.springframework.User">
        <constructor-arg value="user@example.com"/>
        <constructor-arg value="01012345678"/>
    </bean>

    <bean id="smsMessageSender" class="com.nhnacademy.edu.springframework.SmsMessageSender" init-method="init">
        <qualifier type="com.nhnacademy.edu.springframework.SMS">
            <attribute key="senderType" value="SMS"/>
            <attribute key="dummy" value="false"/>
        </qualifier>
    </bean>

    <bean id="emailMessageSender" class="com.nhnacademy.edu.springframework.EmailMessageSender"
          scope="prototype" destroy-method="cleanup">
        <qualifier type="com.nhnacademy.edu.springframework.SMS">
            <attribute key="senderType" value="EMAIL"/>
            <attribute key="dummy" value="false"/>
        </qualifier>
    </bean>


    <bean id="messageSendService" class="com.nhnacademy.edu.springframework.MessageSendService">
    </bean>

</beans>
